@model Project
<style>
	.day-btn:hover {
		background-color: lightgray;
	}
</style>
<input id="ProjectId" asp-for="Id" hidden />
<div class="bg-primary text-white mb-3 p-3 row row-cols-1 row-cols-sm-1 row-cols-md-2 row-cols-lg-2 rounded">
	<div class="col text-sm-center text-center text-md-start text-lg-start">
		<h6 class="card-title timesheet-title">Project Code: @Model.ProjectCode</h6>
		<h6 class="card-title timesheet-title">Project Description: @Model.ProjectDescription</h6>
	</div>
	<div class="mt-2 col text-center text-sm-center text-md-end text-lg-end">
		<button class="btn btn-outline-light fw-bold" id="prevWeek"> &lt;&lt;  </button>
		<span class="week-range" id="weekRange"></span>
		<button class="btn btn-outline-light fw-bold" id="nextWeek"> &gt;&gt; </button>
	</div>
</div>

<!-- DataTable -->
<div class="table-responsive">
	<table id="timeTable" class="table table-bordered">
		<thead class="text-light" style="background-color: #ff9800;">
			<tr>
				<th>Milestone Code</th>
				<th>Milestone Description</th>
				<th>Task Code</th>
				<th>Task Description</th>
				<th>Assigned Hours</th>
				<th>Mon</th>
				<th>Tue</th>
				<th>Wed</th>
				<th>Thu</th>
				<th>Fri</th>
				<th>Sat</th>
				<th>Sun</th>
				<th>Status</th>
				<th>Total Hours</th>
				<th>Pending Hours</th>
			</tr>
		</thead>
	</table>
</div>
<div class="d-flex justify-content-between mt-4">
	<a href="/TimeSheet/" class="btn btn-secondary ts-btn-back">BACK</a>
</div>

<!-- Modal -->
<div class="modal fade" id="entryModal" tabindex="-1">
	<div class="modal-dialog">
		<div class="modal-content">
			<form id="weekForm">
				<div class="modal-header">
					<h5 class="modal-title">Enter Time and Remark</h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				<div class="modal-body">
					<input id="WeekId" name="WeekId" hidden />
					<input id="Day" name="Day" hidden />
					<div class="mb-3">
						<label for="Hours" class="form-label">Working Hours</label>
						<input id="Hours" name="Hours" type="Time" class="form-control" required>
					</div>
					<div class="mb-3">
						<label for="Remarks" class="form-label">Remark</label>
						<textarea id="Remarks" name="Remarks" class="form-control" rows="6" required></textarea>
					</div>
				</div>
				<div class="modal-footer">
					<button type="submit" class="btn btn-success">Save</button>
					<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
				</div>
			</form>
		</div>
	</div>
</div>

@section Scripts {
	<script src="~/js/TimeSheetInfo.js"></script>
}